html {
  height: 100%;
}
body {
  height: 100%;
}
div{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}
.main {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
.board{
  display: block;
  height: 500px;
  width: 500px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -250px 0 0 -250px;
}

.cell{
  vertical-align: top;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: grey;
}

.light{
  background-color: black;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid black;
}

.lit{
  background-color: yellow;
}
