  html {
    height: 100%;
  }
  body {
    height: 100%;
    background-color: #383838;
    font-family: 'Play', sans-serif;
  }

  div{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .main {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
  }

  .cell{
    vertical-align: top;
    display: inline-block;
  }

.light{
  display: inline-block;
}

.light:hover,
.light:focus,
.light:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hvr-grow {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.lit{
  background-color: #FFFF00;
}

.menu {
  float: left;
  margin: 250px 0 0 50px;
  font-size: 30px;
  color: #9B9B00;
}

.menu li {
  list-style-type: none;
  padding: 2px 230px 2px 25px;
}

.menu li:hover {
  border: 1px solid #FFD300;
  border-radius: 10px;
}


/* Bigger than a phone */
@media (min-width: 481px) {
  .board{
    display: block;
    height: 500px;
    width: 500px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -190px 0 50px -250px;
  }

  .cell{
    height: 100px;
    width: 100px;
  }

  .light{
    height: 93px;
    width: 93px;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    .board{
    display: block;
    height: 250px;
    width: 250px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -150px 0 25px -125px;
  }

  .cell{
    height: 50px;
    width: 50px;
  }

  .light{
    height: 50px;
    width: 50px;
  }

}

// Landscape phone to portrait tablet
//  @media (max-width: 768px) { ... }

// Portrait tablet to landscape and desktop
// @media (min-width: 768px) and (max-width: 980px) { ... }
