div{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}

.board{
  display: inline-block;
  height: 500px;
  width: 500px;
}

.cell{
  vertical-align: top;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: gray;
}

.light{
  background-color: black;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid black;
}

.lit{
  background-color: yellow;
}
